input.ui-autocomplete-input.ui-autocomplete-is-loading {
	background-size: auto 75% !important;
	background: url('/wp-includes/images/spinner-2x.gif') no-repeat right 6px center;
}

.ui-autocomplete-clear {
	cursor: pointer;
	position: absolute;
	/*right: 32px;*/
	/*top: 32px;*/
	/*width: 32px;*/
	/*height: 32px;*/
	opacity: 0.3;
}
.ui-autocomplete-clear:hover {
	opacity: 1;
}
.ui-autocomplete-clear:before,
.ui-autocomplete-clear:after {
	position: absolute;
	/*left: 15px;*/
	right: 50%;
	content: ' ';
	height: 100%;
	width: 2px;
	background-color: #333;
}
.ui-autocomplete-clear:before {
	transform: rotate(45deg);
}
.ui-autocomplete-clear:after {
	transform: rotate(-45deg);
}

/*
 * Pageloader Settings Styles
 */
.pageloader-options-loading-overlay {
	position:   absolute;
	z-index:    1000;
	top:        0;
	left:       0;
	height:     100%;
	width:      100%;
	background: rgba( 255, 255, 255, .8 );
}

.pageloader-options-loading {
	display: inline-block;
	width: 64px;
	height: 64px;
	top: 50%;
	left: 50%;
	position: absolute;
}

.pageloader-options-loading:after {
	content: " ";
	display: block;
	width: 46px;
	height: 46px;
	margin: 1px;
	border-radius: 50%;
	border: 5px solid #9f9f9f;
	border-color: #9f9f9f transparent #9f9f9f transparent;
	animation: pageloader-options-loading 1.2s linear infinite;
}
@keyframes pageloader-options-loading {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
