input.ui-autocomplete-input.ui-autocomplete-is-loading {
	background-size: auto 75% !important;
	background: url('/wp-includes/images/spinner-2x.gif') no-repeat right 6px center;
}

.ui-autocomplete-clear {
	cursor: pointer;
	position: absolute;
	/*right: 32px;*/
	/*top: 32px;*/
	/*width: 32px;*/
	/*height: 32px;*/
	opacity: 0.3;
}
.ui-autocomplete-clear:hover {
	opacity: 1;
}
.ui-autocomplete-clear:before,
.ui-autocomplete-clear:after {
	position: absolute;
	/*left: 15px;*/
	right: 50%;
	content: ' ';
	height: 100%;
	width: 2px;
	background-color: #333;
}
.ui-autocomplete-clear:before {
	transform: rotate(45deg);
}
.ui-autocomplete-clear:after {
	transform: rotate(-45deg);
}
